.acc-container {
    list-style-type: none;
    margin-bottom: 1em;
    cursor: pointer;
    &:last-of-type{
        .acc-block{
            &:after{
                content: '';
                background: none;
            }
        }
    }
}

.acc-after-container{
    .acc-block{
    &:after{
        content: '';
        background: none;
    }}
}
.acc-after-container1{}

.acc-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: all 0.3s ease-out;
    position: relative;

    @include mquery(desk) {
        padding: 1em 2em;
    }

    &:after {
        content: "";
        position: absolute;
        background: #000;
        width: 1px;
        right: 23px;
        height: 60px;
        top: 50px;
        z-index: 9;

        @include mquery(desk) {
            right: 38px;
            height: 85px;
            top: 62px;
        }
    }
}

.acc-active {
    transition: 50px 0.3s ease-in-out;

    background: $blue;
}

.acc-inActive {
    background: $light-blue1;
}

.acc-activeText {
    color: $white;
}

.acc-inActiveText {
    color: $label-blue;
}

.acc-inActiveGreyText {
    color: $grey6;
}

.acc-item {
    display: flex;
    align-items: center;
}

.acc-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;

    img {
        width: 70%;
        height: 70%;
    }

    @include mquery(ipad) {
        width: 60px;
        height: 60px;
    }
}

.acc-content {
    padding-left: 1em;

    @include mquery(desk) {
        padding-left: 1.5em;
    }

    p {
        &:nth-of-type(1) {
            font-size: $font-14;
            font-family: $font-family-OpenSanaBold;

            @include mquery(desk) {
                font-size: $font-30;
            }
        }

        &:nth-of-type(2) {
            font-size: $font-12;
            font-family: $font-family-OpenSanaRegular;
            font-style: italic;

            @include mquery(desk) {
                font-size: $font-18;
            }
        }
    }
}

.acc-show-content {
    padding: 1em;
    font-size: $font-14;
    font-family: $font-family-OpenSanaRegular;
}

.acc-activeState {

    .acc-default {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        display: block;
        position: relative;
        background: $grey2;

        &:after {
            content: "";
            width: 25px;
            height: 25px;
            border: 2px solid $grey2;
            position: absolute;
            border-radius: 50px;
            top: -7px;
            left: -7px;
        }

        @include mquery(desk) {}
    }

    .acc-activeRed {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        display: block;
        position: relative;
        background: $red4;

        &:before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            top: 3px;
            left: 4px;
            border-radius: 50%;
            animation: circle 1s 1s infinite linear;
            border: 1px solid $red2;
        }
    }

    @keyframes circle {
        from {
            transform: scale(0);
            opacity: 1;
        }

        to {
            transform: scale(8);
            opacity: 0;
        }
    }
}

.acc-completed {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        border: 2px solid #3D960D;
        border-radius: 50px;
        width: 27px;
        height: 27px;
        top: -7px;
        left: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 15px;
        height: 13px;
    }
}