.form-container {
    border-bottom: 1px solid $label-blue;
    padding: 1.25em;
    position: relative;
    top: -10px;
    border-left: 1px solid $label-blue;
    border-right: 1px solid $label-blue;
    border-radius: 3px;
    cursor: default;
}

.form-block {
    border-bottom: 1px solid $label-blue;
    padding-bottom: 10px;
}

.form-declaration {
    color: $black;
    padding-bottom: 16px;
    font-size: $font-12;
    font-family: $font-family-OpenSanaRegular;

    @include mquery(desk) {
        font-size: $font-16;
    }
}

.form-question {
    font-size: $font-14;
    color: $label-blue;
    font-family: $font-family-OpenSanaSemiBold;
    padding: 10px 0;
    margin-bottom: 10px;

    @include mquery(desk) {
        font-size: $font-16;
    }
}

.form-answer {
    textarea {
        width: 100%;
        border: 1px solid $grey8;
        padding: 10px;
        height: 50px;
        font-size: $font-16;
        color: $black;
        border-radius: 10px;

        @include mquery(desk) {
            height: 80px;
        }
    }
}

.form-input {}

.form-subBlock {}

.form-btn {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1em 0;

    button {
        width: 47%;
        color: $white;
        text-transform: uppercase;
        font-size: $font-18;
        border: none;
        border-radius: 50px;
        padding: 14px 10px;
        font-family: $font-family-OpenSanaSemiBold;

        &:nth-of-type(1) {
            background: $red3;
            margin-right: 10px;
        }

        &:nth-of-type(2) {
            background: $label-blue;
        }

        @include mquery(desk) {
            font-size: $font-22;
        }
    }

    @include mquery(desk) {
        width: 53%;
        padding: 2em 0;
    }
}