.form-container {
    border-bottom: 1px solid $label-blue;
    padding: 1.25em;
    position: relative;
    top: -10px;
    border-left: 1px solid $label-blue;
    border-right: 1px solid $label-blue;
    border-radius: 3px;
    cursor: default;
}

.form-block {
    border-bottom: 1px solid $label-blue;
    padding: 20px 0;
}

.form-field{
    padding: 20px 0 0;

}

.form-declaration {
    color: $black;
    padding-bottom: 16px;
    font-size: $font-12;
    line-height: 18px;
    font-family: $font-family-OpenSanaRegular;

    @include mquery(ipad) {
        font-size: $font-16;
        line-height: 20px;
    }
}

.form-question {
    line-height: 18px;
    font-size: $font-14;
    color: $label-blue;
    font-family: $font-family-OpenSanaSemiBold;
    padding: 10px 0;
    margin-bottom: 10px;

    @include mquery(ipad) {
        font-size: $font-16;
        line-height: 20px;
    }
}

.form-answer {
    textarea {
        width: 100%;
        border: 1px solid $grey8;
        padding: 10px;
        height: 50px;
        font-size: $font-16;
        color: $black;
        border-radius: 10px;

        @include mquery(desk) {
            height: 80px;
        }
    }
}

.form-btn {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1em 0;

    button {
        width: 47%;
        color: $white;
        text-transform: uppercase;
        font-size: $font-18;
        border: none;
        border-radius: 50px;
        padding: 10px;
        font-family: $font-family-OpenSanaSemiBold;

        &:nth-of-type(1) {
            background: $red3;
            margin-right: 10px;
        }

        &:nth-of-type(2) {
            background: $label-blue;
        }

        &:disabled {
            background: $grey1;
            cursor: not-allowed;
        }

        @include mquery(desk) {
            font-size: $font-22;

            button {
                padding: 14px 10px;
            }
        }
    }

    @include mquery(desk) {
        width: 53%;
    }
}

.form-quesbtn {
    display: flex;
    margin: 10px auto;
    width: 70%;

    button {
        width: 48%;
        margin-right: 3%;
        background: $white;
        border: 1px solid $grey8;
        border-radius: 10px;
        padding: 10px;
        color: $label-blue;
        font-family: $font-family-OpenSanaSemiBold;
        font-size: $font-24;
        text-align: center;
    }
}

.form-inputbtn {
    display: flex;

    .radio {
        width: 15%;

        label {
            margin-left: 10px;
            color: $label-blue;
            font-family: $font-family-OpenSanaSemiBold;
            font-size: $font-14;
        }
    }
}

// consent table

.form-table {
    width: 100%;

    thead {
        tr {
            border-bottom: none;
        }

        th {
            padding: 10px 0;
            font-size: $font-14;
            font-family: $font-family-OpenSanaBold;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $grey8;
        }

        td {
            padding: 10px 0;

            span {
                font-size: $font-12;
                color: $black;
                font-family: $font-family-OpenSanaRegular;
            }

            input {
                width: 90%;
                border: 1px solid $grey8;
                padding: 6px;
                font-size: $font-12;
                color: $black;
                font-family: $font-family-OpenSanaRegular;
                border-radius: 10px;
            }

            @include mquery(desk) {
                span {
                    font-size: $font-14;
                }

                input {
                    padding: 10px;
                    font-size: $font-14;
                }
            }
        }
    }
}

.submit-consent-btn {
    display: flex;
    justify-content: center;
}

.consent-blk {
    background: $light-blue1;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: default;

    label {
        width: 100%;
        font-size: $font-12;
        color: $black;
        padding: 0 20px 10px;

        span {
            padding-left: 10px;
        }

        @include mquery(desk) {
            font-size: $font-14;
        }
    }
}

.consent-btn {
    display: flex;
    justify-content: space-between;

    button {
        display: inline-block;
        border: 0px;
        background-size: 20px;
        border-radius: 5px;
        // padding: 10px 40px 10px 60px;
        padding: 10px 40px 10px 40px;
        font-size: $font-18;
        font-weight: 600;
        text-decoration: none;

        &:nth-of-type(1) {
            background: $label-blue;
            color: $white;

            @include mquery(desk) {
                margin-right: 20px;
            }
        }

        &:nth-of-type(2) {
            background: $white;
            color: $black;
            border: $red1 solid 1px;
        }

        &:disabled {
            background: $grey1;
            cursor: not-allowed;
        }

    }

    @include mquery(desk) {
        display: block;
        padding: 10px 30px 20px;
    }
}

// consent-form

.consent-ques-blk {

    padding-bottom: 10px;

    .consent-ques-ans {
        padding-bottom: 10px;
    }

    .consent-ans-blk {
        // padding-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;

        @include mquery(desk) {
            justify-content: space-between;
            flex-direction: row;
        }

        .consent-ans {
            padding-top: 10px;
            width: 100%;
            display: flex;
            align-items: center;

            @include mquery(desk) {
                width: 47%;
            }

            span {
                width: 30%;
                font-size: $font-14;
                padding-right: 10px;
                color: $black;
                font-family: $font-family-OpenSanaRegular;
            }

            input {
                width: 70%;
                border: 1px solid #ced5d8;
                padding: 6px;
                font-size: 12px;
                color: $black;
                font-family: $font-family-OpenSanaRegular;
                border-radius: 10px;

            }
        }
    }
}

.consent-tag-blk {
    padding: 10px;

    .consent-tag {
        font-size: $font-12;
        font-family: $font-family-OpenSanaRegular;
        color: $black;
        padding-bottom: 10px;

        @include mquery(desk) {
            font-size: $font-14;
        }
    }
}

.consent-down-container {
    display: flex;
    // justify-content: space-between;
    margin: 10px 0;
    flex-direction: column;

    @include mquery(desk) {
        flex-direction: row;
    }
}

.consent-download {
    border: 1px solid $black;
    border-radius: 5px;
    padding: 5px;
    font-size: $font-12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
    width: 100%;
    height: 28px;
    background: $white;

    a {
        cursor: pointer;
    }

    span {
        padding-right: 10px;
    }

    @include mquery(desk) {
        // flex-direction: row;
        margin: 0 10px 0 0;
        width: 20%;
        font-size: $font-14;
        height: 30px;

    }
}


.add-more-block{
    background: $light-blue;
    padding: 10px;
}
.add-more-section{
    margin: 10px 0;
}