.login-container {
    height: 100vh;
}

.login-header {
    background: $blue;
    padding: 3em 2em;

    h1,
    p {
        color: $white;
        text-align: center;
        padding-top: 0.5em;
    }

    h1 {
        font-size: $font-28;
        font-family: $font-family-OpenSanaBold;

        @include mquery(ipad) {
            font-size: $font-48;
        }
    }

    p {
        font-size: $font-16;
        font-family: $font-family-OpenSanaSemiBold;
    }
}

.login-img {
    width: 100%;
    padding-top: 2em;

    img {
        width: 100%;
        height: auto;
    }

    @include mquery(ipad) {
        width: 55%;
        margin: auto;
    }
}

.login-block {
    height: 50vh;
    padding: 2em;

    .login-content {
        padding-bottom: 1.5em;

        label {
            display: block;
            padding-bottom: 0.5em;
            font-size: $font-16;
            color: $label-blue;
            font-family: $font-family-OpenSanaSemiBold;

            @include mquery(desk) {
                font-size: $font-18;
            }
        }

        input {
            width: 100%;
            background: $light-blue;
            font-size: $font-16;
            color: $label-blue;
            font-family: $font-family-OpenSanaRegular;
            border-radius: 10px;
            padding: 7px 10px;
            border: 0px;
            height: 50px;

            @include mquery(desk) {
                font-size: $font-18;
            }
        }
    }

    @include mquery(ipad) {
        width: 45%;
        margin: auto;
        padding: 5em 2em;
        height: auto;
    }

}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;

    @include mquery(ipad) {
        padding-top: 1.5em;
    }
}

.loginStatus{
    font-size: $font-14;
    color: $red2;
    font-family: $font-family-OpenSanaRegular;
}