.login-container {
    height: 100vh;
    padding-top: 3.8em;
}

.login-header {
    background: $blue;
    height: 50vh;
    padding: 2em;

    h1,
    p {
        color: $white;
        text-align: center;
        padding-top: 0.5em;
    }

    h1 {
        font-size: $font-28;
        font-family: $font-family-OpenSanaBold;

        @include mquery(ipad) {
            font-size: $font-48;
        }
    }

    p {
        font-size: $font-16;
        font-family: $font-family-OpenSanaSemiBold;
    }
}

.login-block {
    height: 50vh;
    padding: 2em;

    .login-content {
        padding-bottom: 1.5em;

        label {
            display: block;
            padding-bottom: 0.5em;
            font-size: $font-16;
            color: $label-blue;
            font-family: $font-family-OpenSanaSemiBold;

            @include mquery(desk) {
                font-size: $font-18;
            }
        }

        input {
            padding: 1em;
            width: 100%;
            border: 1px solid $light-blue;
            border-radius: 3px;
            background: $light-blue;
            font-size: $font-16;
            color: $label-blue;
            font-family: $font-family-OpenSanaRegular;

            @include mquery(desk) {
                font-size: $font-18;
            }
        }
    }

    @include mquery(ipad) {
        width: 40%;
        margin: auto;
        padding: 5em 2em;
        height: auto;
    }

}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    @include mquery(ipad) {
        padding-top: 1.5em;
    }
}