.header-otp-popup-content{
  
    .enter-otp-popup h2{ 
        color:#373737;
         font-size:16px; 
        }
        .resend-otp-popup h2{ 
            color:#007cf7; 
            font-size:16px; 
            font-weight:600; }
           
}

.otp-input-wrapper input{
width: 1em;
text-align: center;
color: #000;
font-weight: 600;
font-size: 15px;
border-radius: 4px;
text-align: center;
background: unset;
border: #969696 solid 1px;
padding: 15px 0px;
width: 45px !important;
display: inline-block;
margin-right: 1.5rem;
}





