.header-otp-popup-content {

    .enter-otp-popup h2 {
        color: #373737;
        font-size: $font-14;
        @include mquery(desk){
            font-size: $font-16;
        }
    }

    .resend-otp-popup h2 {
        color: #007cf7;
        font-size: $font-14;
        font-weight: 600;
        @include mquery(desk){
            font-size: $font-16;
        }
    }

}

