.lst_prpsl{
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li{
        padding: 10px 15px 10px 15px;
        margin-top: 1rem;
        margin-bottom: 20px;
        background: $light-blue1;
        border-radius: 15px;
    }
    .lnkbx {
        overflow: hidden;
        font-size: $font-14;
        color: $blue;
        line-height: 1.5;
        @include mquery(desk){
        font-size: $font-20;
        }
    .text{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .lnktxtbx {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid $blue;
        border-radius: 10px;
        padding-left: 10px;
        margin-left: 0.5rem;
        background: $acc-blue;
        &:hover{
            background: $blue;
            color: $white;
        }
    }
    }
}
.pan-dob{
    .pan-dob-wrapper{
        text-align: center;
        font-size: 20px;
        // padding: 2rem 0 1em;
        // background-color: red !important;
    
    .heading{
        // padding-top: 1.5em;
        margin-top: 1em;
    }
    input{
        width: 100%;
        background: $light-blue;
        font-size: $font-16;
        color: $label-blue;
        font-family: $font-family-OpenSanaRegular;
        border-radius: 10px;
        padding: 7px 10px;
        border: 0px;
        height: 50px;
        margin: 1em 0;
    }
} 
}
.content{
    padding: 20px 0px;
    text-align: center;
    color: $blue;
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
    font-weight: 600;
    // font-family: 'open_sanssemibold';
}

    .validate-btn{
        display: inline-block;
        background: none;
        border: 0px;
        width: 100px;
        border-radius: 5px;
        padding: 8px 0px 8px 0px;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        border: 1px solid $blue;
        text-align: center;
        cursor: not-allowed
    }
     .enable{
        @extend .validate-btn;
        color: $white;
        background-color: $blue;
        cursor: pointer;
    }

.receipt-download{
    font-style: italic;
    text-decoration: underline;
}