* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none !important;
  // border-color: $blue;
  // box-shadow: 0px 0px 5px -2px $blue
}

textarea {
  overflow: auto;
  resize: vertical;
}

ol,
ul {
  padding: 0;
}

// button
.blue-button {
  background: $blue;
  color: $white;
  font-size: $font-18;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: $font-family-OpenSanaBold;

  &:disabled {
    background: $grey1;
    cursor: not-allowed;
  }

  @include mquery(desk) {
    font-size: $font-18;
  }
}

.activeBtn {
  background: $acc-blue;
  color: $label-blue;
  font-size: $font-14;
  text-align: center;
  padding: 3px 10px;
  border-radius: 10px;
  border: 1px solid $label-blue;
  cursor: pointer;
  font-family: $font-family-OpenSanaSemiBold;

  @include mquery(desk) {
    font-size: $font-20;
  }

  &:hover {
    color: $white;
    background: $label-blue;
  }
}

// show - hide

.hide,
.inactive {
  display: none;
}

.show,
.active {
  display: block;
}

.upArrow {
  transform: rotate(180deg);
}

//
.Toastify__toast--error {
  background-color: #f8ebee !important;
  color: #000 !important;
}

.Toastify__toast--success {
  background-color: #f3f9ec !important;
  color: #000 !important;
}

// overlay
.overlay__popup_nw {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}

//otp
.header-otp-popup {
  display: none;
  box-shadow: #e2e2e2 0 0 10px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  width: 440px;
  margin: 0 auto;
}

.header-otp-popup.active {
  display: block;
  bottom: 0%;
  opacity: 1;
  position: fixed;
  background: #fff;
  // left: 50%;
  left: calc(50% - 440px / 2);
  transform: translate(-50%, 0%);
  -moz-transition: bottom 0.5s ease-in-out;
  -o-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
  animation: first 0.5s ease-in-out forwards;
  z-index: 11;

  @keyframes first {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0%);
    }
  }

  // @include mquery(desk) {
  //     width: 440px;
  //     left: 50%;
  //     }
}

@media screen and (max-width: 480px) {
  .header-otp-popup {
    width: 90%;
    left: 5% !important
  }

  .popupcmn_otpthnks.active {
    width: 90%;
    left: 5% !important
  }

  .otp-input-wrapper input {
    width: 2.5rem !important;
    // margin-right: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .otp-input-wrapper input {
    // width: 2.5rem !important;
    margin-right: 1.2rem;
  }
}

@media screen and (max-width: 627px) {
  .card-body .rvsd_dwnld_outr .lnktxtbx {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #015289;
    border-radius: 10px;

  }
}

.header-otp-popup-head {
  background: #f4f7fc;
  padding: 14px 10px 8px;
  border-radius: 10px 10px 0px 0px;
}

.header-otp-popup-left {
  display: inline-block;
  width: 300px;
  max-width: 600px;

  h2 {
    font-weight: 600;
    padding-top: 6px;
    padding-left: 5px;
    color: $label-blue;
    font-size: 15px;
  }
}

.header-reject-popup-right {
  position: absolute;
  right: 15px;
  top: 17px;
}

.header-reject-popup-right img {
  width: 20px;
  height: 20px;
}

.header-otp-popup-content {
  padding-left: 3rem;
  padding-right: 3rem;
}

.header-reject-popup-content-fot {
  padding-bottom: 20px;

  .sbmt_btn {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    background: #e00038 url(../../Assets/images/popup-submit-icon.png) no-repeat left 20px center;
    border: 0px;
    background-size: 20px;
    padding: 10px 40px 10px 60px;
  }
}

//thank you

.popupcmn_otpthnks {
  box-shadow: #e2e2e2 0 0 10px;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  width: 440px;
  margin: 0 auto;
  left: 50%;
  /* top: 50%; */
  z-index: 11;
  background: #fff;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  bottom: -120%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: bottom 0.5s ease-in-out;
  -o-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
  opacity: 0;
}

.popupcmn_otpthnks.active {
  display: block;
  bottom: 0%;
  opacity: 1;
  position: fixed;
  background: #fff;
  // left: 50%;
  left: calc(50% - 440px / 2);
  transform: translate(-50%, 0%);
  -moz-transition: bottom 0.5s ease-in-out;
  -o-transition: bottom 0.5s ease-in-out;
  transition: bottom 0.5s ease-in-out;
  animation: first 0.5s ease-in-out forwards;
  z-index: 11;

  @keyframes first {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0%);
    }
  }
}

.popup-thank-you-content-bot {
  h2 {
    color: #ee275d;
    font-size: 17px;
    font-weight: 600;
  }

  h3 {
    color: #373737;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    color: #007cf7;
    font-size: 16px;
    font-weight: 600;
  }
}

.header-reject-popup-right {
  position: absolute;
  right: 15px;
  top: 17px;

  .img {
    width: 20px;
    height: 20px;
  }
}

// FormFieldConsent
.blue-block-container {
  display: flex;
  align-items: center;
  background: $light-blue1;
  padding: 10px;
  border-radius: 10px;
  width: 96%;
  margin: auto;
  p {
    color: $label-blue;
    font-size: $font-14;
    font-family: $font-family-OpenSanaRegular;
    margin-right: 10px;
    @include mquery(ipad){
    font-size: $font-16;
    }
    @include mquery(desk){
      font-size: $font-18;
      }
  }
  button{
    border: 1px solid $label-blue;
    color: $label-blue;
    background: $light-blue1;
    font-size: $font-14;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    &:hover{
      color: $white;
      background-color: $blue;
    }
    @include mquery(ipad){
      font-size: $font-16;
      }
      @include mquery(desk){
        font-size: $font-18;
        }
  }
}
.quote{
  background: $light-blue1;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  .quote-text{
    color: $label-blue;
    font-size: $font-14;
    font-family: $font-family-OpenSanaRegular;
    text-decoration: underline;
    text-transform: uppercase;
    @include mquery(ipad){
      font-size: $font-16;
      }
      @include mquery(desk){
        font-size: $font-18;
        }
  }
  .quote-btn{
    border: 1px solid $label-blue;
    color: $label-blue;
    background: $light-blue1;
    font-size: $font-14;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    &:hover{
      color: $white;
      background-color: $blue;
    }
    @include mquery(ipad){
      font-size: $font-16;
      }
      @include mquery(desk){
        font-size: $font-18;
        }
  }
}

// loader

.loader-overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: $black;
  opacity: 0.4;
  z-index: 9998;

  .loader-img {
    background: url("../../Assets/images/loader_svg.svg")no-repeat top left;
    width: 64px;
    height: 64px;
    background-size: contain;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
  }
}

.error-msg{
  color: $red1;
  font-size: $font-12;
  @include mquery(desk){
  font-size: $font-14;
  }
}