* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none !important;
    border-color: $blue;
    box-shadow: 0px 0px 5px -2px $blue
}

// button
.blue-button {
    background: $blue;
    color: $white;
    font-size: $font-18;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 0.625em;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: $font-family-OpenSanaSemiBold;

    &:disabled {
        background: $grey1;
        cursor: not-allowed;
    }

    @include mquery(desk) {
        font-size: $font-18;
    }
}

// show - hide

.hide,
.inactive {
    display: none;
}

.show,
.active {
    display: block;
}

.upArrow {
    transform: rotate(180deg);
}

//
.Toastify__toast--error {
    background-color: #f8ebee !important;
    color: #000 !important;
}

.Toastify__toast--success {
    background-color: #f3f9ec !important;
    color: #000 !important;
}