// font-family

@font-face {
    font-family: 'OpenSans';
    src: url('../../Assets/fonts/OpenSans/OpenSansRegular.eot');
    src: url('../../Assets/fonts/OpenSans/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
        url('../../Assets/fonts/OpenSans/OpenSansRegular.woff') format('woff'),
        url('../../Assets/fonts/OpenSans/OpenSansRegular.ttf') format('truetype'),
        url('../../Assets/fonts/OpenSans/OpenSansRegular.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../../Assets/fonts/OpenSansBold/OpenSansBold.eot');
    src: url('../../Assets/fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype'),
        url('../../Assets/fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
        url('../../Assets/fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'),
        url('../../Assets/fonts/OpenSansBold/OpenSansBold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../../Assets/fonts/OpenSansSemiBold/OpenSansSemiBold.eot');
    src: url('../../Assets/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../Assets/fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
        url('../../Assets/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype'),
        url('../../Assets/fonts/OpenSansSemiBold/OpenSansSemiBold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-family-OpenSanaRegular: "OpenSans";
$font-family-OpenSanaBold: "OpenSansBold";
$font-family-OpenSanaSemiBold: 'Open Sans',
sans-serif;

// colors

$white:#ffffff;
$black:#000000;

$light-blue:#F5FAFE;
$light-blue1:#F3FAFE;
$label-blue:#015289;
$blue:#005289;

$red1:#D34057;
$red2: #ff3333;
$red3:#DD264F;
$red4:#E33C39;

$green1:#3F9B11;
$green2:#8bc349;


$grey1:#DEE0DA;
$grey2:#C6C6C6;
$grey3:#C9CBCD;
$grey4:#58595b;
$grey5:#898989;
$grey6:#666666;
$grey7:#e2e2e2;

// font-size

$font-9:9px;
$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-26:26px;
$font-28:28px;
$font-30:30px;
$font-32:32px;
$font-34:34px;
$font-35:35px;
$font-36:36px;
$font-38:38px;
$font-40:40px;
$font-42:42px;
$font-44:44px;
$font-46:46px;
$font-48:48px;
$font-50:50px;