* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$white: #fff;
$black: #000;
$light-orange: #fff6f3;
$light-input-orange: #ffdfd4;
$orange: #f66c3b;

body {
  background: $light-orange;
}
// container
.container {
  width: 90%;
  margin: auto;
  height: 93vh;
}

.main-body {
  padding: 5em 0;
  margin: auto;
  width: 90%;
}

// button

.link-btn {
  font-size: 14px;
  cursor: pointer;
  color: $orange;
  background: none;
  border: none;
}

// navigation

.navigation {
  width: 100%;
  text-align: end;
  background: $white;
  padding: 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 22px;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

    li {
      font-size: 18px;
      padding-left: 0.625em;
      color: $black;

      a {
        text-decoration: none;
        color: $black;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}
// about
.about-detail {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  ul {
    padding-top: 2em;
    li {
      font-size: 16px;
      padding-bottom: 10px;
      p {
        padding-bottom: 5px;
        &:nth-of-type(1) {
          font-weight: bold;
        }
      }
    }
  }
}
// card style

.card-body {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  .card {
    list-style: none;
    width: calc(100% / 3);
    height: 175px;
    border: 1px solid $white;
    background: $white;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 5px;
    margin: 1em;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &:hover {
      transform: scale(1.05);
      transition: all 200ms ease-in;
    }

    .card-title {
      font-size: 20px;
    }
    .card-detail {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 16px;
        &:nth-of-type(1) {
        }
        &:nth-of-type(2) {
        }
      }
    }
    .card-summary {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 14px;
        max-width: 30ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// blog style

.blog-body {
  display: flex;
  width: 100%;
  justify-content: center;
  .blog {
    padding: 1.5em;

    .blog-title {
      font-size: 30px;
      text-align: center;
    }
    .blog-detail {
      display: flex;
      padding: 1em 0;

      p {
        font-size: 18px;
        &:nth-of-type(1) {
          padding-right: 1em;
        }
        &:nth-of-type(2) {
        }
      }
    }
    .blog-summary {
      p {
        font-size: 16px;
        text-align: justify;
      }
    }
  }
}
//  crud
.crud-btn{
  text-decoration: underline;
}
.crud-list {
  list-style: none;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  li {
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: $light-input-orange;
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 16px;
    border-radius: 6px;

    .list-btn{
      .link-btn{
        text-decoration: underline;
        margin-left: 10px;
        cursor: pointer;
      }
    }
    .list-title{
      font-size: 16px;
    }
  }
}

// add blog form

.add-blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;

  input {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 30%;
    border: none;
    background-color: $light-input-orange;
    &:focus {
      outline: 1px solid $orange;
      background-color: $white;
    }
  }
}
.addBtn {
  border: none;
  background: $orange;
  font-size: 16px;
  color: $white;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
}
// footer
.footer {
  width: 100%;
  text-align: center;
  background: $white;
  font-size: 12px;
  padding: 2em;
  position: fixed;
  bottom: 0;
}
